._imageWrapper_1auj2_1 {
 position: relative;
}

._imageWrapper_1auj2_1::after {
 content: "";
 position: absolute;
 bottom: -1px;
 left: 0px;
 width: 100%;
 height: 70px;
 background: linear-gradient(transparent,var(--main));
}

._imageWrapper_1auj2_1 ._image_1auj2_1 {
 width: 100%;
 height: 280px;
 object-fit: cover;
}

._imageWrapper_1auj2_1 ._advantages_1auj2_18 {
 display: flex;
 width: 100%;
 gap: 10px;
 justify-content: space-between;
 position: absolute;
 bottom: 0px;
 z-index: 1;
 padding: 0px 16px;
}

._imageWrapper_1auj2_1 ._advantages_1auj2_18 ._advantage_1auj2_18 {
 width: calc(50% - 5px);
 padding: 10px 12px;
 color: var(--white);
 text-align: center;
 min-height: 56px;
 border-radius: 12px;
 background-color: rgba(0, 0, 0, 0.5);
 font-weight: 700;
 font-size: 13px;
}

._imageWrapper_1auj2_1 ._advantages_1auj2_18 ._advantage_1auj2_18 span {
 max-width: 140px;
 display: inline-block;
}

._content_1auj2_44 {
 padding: 0px 16px 40px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
}

._content_1auj2_44 ._productInfo_1auj2_51 {
 max-width: 85%;
 text-align: center;
 font-size: 14px;
 margin: 0px auto;
}

@media screen and (width <= 375px) {
 ._content_1auj2_44 ._productInfo_1auj2_51 {
     width: 95%;
 }
}

._content_1auj2_44 ._productTitleContainer_1auj2_62 {
 width: 100%;
 padding: 12px 0px 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 12px;
}

._content_1auj2_44 ._productTitleContainer_1auj2_62 ._productDescription_1auj2_71 {
 text-align: center;
 font-size: 22px;
 font-weight: 700;
 color: var(--white);
}

._content_1auj2_44 ._productTitleContainer_1auj2_62 ._productName_1auj2_77 {
 display: flex;
 align-items: center;
 gap: 6px;
 font-size: 22px;
 font-weight: 700;
 color: rgb(255, 123, 2);
}

._content_1auj2_44 ._productTitleContainer_1auj2_62 ._productName_1auj2_77 svg {
 margin-top: 2px;
}

._content_1auj2_44 ._paymentInfo_1auj2_88 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 color: rgba(255, 255, 255, 0.3);
}

._content_1auj2_44 ._cancelButton_1auj2_95 {
 text-align: center;
 color: rgba(255, 255, 255, 0.3);
 text-decoration: underline;
}

.light ._productTitleContainer_1auj2_62 ._productTitle_1auj2_62, .light ._cancelButton_1auj2_95, .light ._productInfo_1auj2_51 {
 color: var(--white);
}

.light ._advantages_1auj2_18 ._advantage_1auj2_18 {
 color: var(--black);
}

._closeButton_1e23x_1 {
 color: var(--white);
}

._modalContainer_1e23x_5 {
 background: linear-gradient(90deg, rgb(46, 17, 58), rgb(14, 14, 14));
 border: none;
}

._modalContent_1e23x_10 {
 display: flex;
 flex-direction: column;
 row-gap: 32px;
 padding: 42px 16px;
}

._modalContent_1e23x_10 ._icon_1e23x_16 {
 width: 86px;
 height: 86px;
 align-self: center;
}

._modalContent_1e23x_10 ._textWrapper_1e23x_21 {
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 32px;
}

._modalContent_1e23x_10 ._textWrapper_1e23x_21 ._text_1e23x_21 {
 font-size: 18px;
 text-align: center;
 max-width: 347px;
}

@media screen and (width <= 767px) {
 ._modalContent_1e23x_10 ._textWrapper_1e23x_21 ._text_1e23x_21 {
     font-size: 16px;
 }
}

._modalContent_1e23x_10 ._textWrapper_1e23x_21 ._text_1e23x_21 b {
 font-weight: 800;
}

._modalContent_1e23x_10 ._actionsWrapper_1e23x_40 {
 display: flex;
 flex-direction: column;
 gap: 8px;
}

._modalContent_1e23x_10 ._actionsWrapper_1e23x_40 ._submitAction_1e23x_45 {
 font-size: 18px;
 font-weight: 600;
}

@media screen and (width <= 767px) {
 ._modalContent_1e23x_10 ._actionsWrapper_1e23x_40 ._submitAction_1e23x_45 {
     font-size: 16px;
 }
}

._modalContent_1e23x_10 ._actionsWrapper_1e23x_40 ._proceedAction_1e23x_54 {
 color: var(--gray);
 text-align: center;
 font-size: 14px;
 font-weight: 400;
 text-decoration-line: underline;
 text-decoration-style: solid;
}

@media screen and (width <= 767px) {
 ._modalContent_1e23x_10 ._actionsWrapper_1e23x_40 ._proceedAction_1e23x_54 {
     font-size: 12px;
 }
}

.light ._modalContainer_1e23x_5 {
 background: linear-gradient(rgb(229, 229, 229), rgb(255, 185, 233));
}

.light ._text_1e23x_21 {
 color: rgb(12, 12, 12);
}

.light ._actionsWrapper_1e23x_40 ._proceedAction_1e23x_54 {
 color: rgb(65, 65, 65);
}

._loader_yp8nt_1 {
 width: 100%;
 flex-shrink: 0;
 height: 260px;
}

._loader_yp8nt_1._withEmail_yp8nt_6 {
 height: 360px;
}

@media screen and (width <= 1199px) {
 ._loader_yp8nt_1._withEmail_yp8nt_6 {
     height: 368px;
 }
}

._loader_yp8nt_1._withEmail_yp8nt_6._withoutCardHolder_yp8nt_14 {
 height: 260px;
}

@media screen and (width <= 1199px) {
 ._loader_yp8nt_1._withEmail_yp8nt_6._withoutCardHolder_yp8nt_14 {
     height: 260px;
 }
}

._loader_yp8nt_1._withoutCardHolder_yp8nt_14 {
 height: 200px;
}

._loader_yp8nt_1._resign_yp8nt_25 {
 height: 14px;
}

@media screen and (width <= 1199px) {
 ._loader_yp8nt_1._resign_yp8nt_25 {
     height: 21px;
 }
}

._container_yp8nt_34 {
 padding: 24px;
 display: flex;
 flex-direction: column;
 overflow: visible;
 gap: 24px;
 animation: 0.3s ease 0s 1 normal none running _fade-in_yp8nt_1;
}

@media screen and (width <= 1199px) {
 ._container_yp8nt_34 {
     gap: 16px;
 }
}

._container_yp8nt_34 ._totalPrice_yp8nt_47 {
 position: absolute;
 top: 14px;
 right: 0px;
 font-size: 16px;
 line-height: 1.5;
}

._container_yp8nt_34 ._totalPrice_yp8nt_47 span {
 color: rgb(182, 182, 182);
}

._sectionContainer_yp8nt_58 {
 padding: 12px;
 margin: 0px -12px;
 border: 1px solid rgb(44, 46, 53);
 border-radius: 16px;
 animation: 0.3s ease 0s 1 normal none running _fade-in_yp8nt_1;
}

._payButtons_yp8nt_66 p {
 margin-bottom: 16px;
 text-align: center;
 color: var(--white);
 font-size: 20px;
 font-weight: 700;
}

._payButtons_yp8nt_66 ._applePay_yp8nt_73 > div, ._payButtons_yp8nt_66 ._googlePay_yp8nt_74 > div {
 width: 100%;
 height: 44px;
 border-radius: 12px;
 overflow: hidden;
 transition: opacity 0.25s;
}

._payButtons_yp8nt_66 ._applePay_yp8nt_73 > div:hover, ._payButtons_yp8nt_66 ._googlePay_yp8nt_74 > div:hover {
 opacity: 0.85;
}

._payButtons_yp8nt_66 ._applePay_yp8nt_73 > div *, ._payButtons_yp8nt_66 ._googlePay_yp8nt_74 > div * {
 outline: none !important;
}

._payButtons_yp8nt_66 ._googlePay_yp8nt_74 > div {
 border: 1px solid var(--gray-dark);
 border-radius: 12px;
}

._payButtons_yp8nt_66 apple-pay-button {
 --apple-pay-button-width: 100%;
 --apple-pay-button-height: 44px;
 --apple-pay-button-border-radius: 12px;
}

._paymentBlockDivider_yp8nt_99 {
 margin-bottom: 15px;
}

._paymentBlockDivider_yp8nt_99 span {
 color: rgb(70, 70, 70);
 font-size: 13px;
 font-weight: 600;
}

._paymentBlockDivider_yp8nt_99::before, ._paymentBlockDivider_yp8nt_99::after {
 border-top-color: rgba(128, 128, 128, 0.5);
}

._payPalButton_yp8nt_111._payPalButton_yp8nt_111 {
 height: 44px;
 min-height: 44px;
 margin-top: 5px;
 background: rgb(255, 196, 58);
 border-radius: 8px;
}

._payPalButton_yp8nt_111._payPalButton_yp8nt_111:hover {
 background: var(--white);
}

._payPalButton_yp8nt_111._payPalButton_yp8nt_111 svg {
 width: auto;
 height: 24px;
}

._formWrapper_yp8nt_126 {
 margin-top: -8px;
 flex-grow: 1;
}

._formWrapper_yp8nt_126 > div:first-child {
 min-height: 380px;
}

._formWrapper_yp8nt_126._withEmail_yp8nt_6 > div:first-child {
 min-height: 480px;
}

._formWrapper_yp8nt_126._withEmail_yp8nt_6._withoutCardHolder_yp8nt_14 > div:first-child {
 min-height: 345px;
}

._formWrapper_yp8nt_126._withoutCardHolder_yp8nt_14 > div:first-child {
 min-height: 280px;
}

._formWrapper_yp8nt_126._heightAuto_yp8nt_142 > div:first-child {
 min-height: auto;
}

._formWrapper_yp8nt_126._resign_yp8nt_25 > div:first-child {
 min-height: 142px;
}

._formWrapper_yp8nt_126 iframe {
 border: none;
}

._paymentTitle_yp8nt_152 {
 text-align: center;
 font-size: 20px;
 font-weight: 700;
 margin-bottom: 16px;
 margin-top: 6px;
 color: var(--white);
}

._paymentMethods_yp8nt_161 {
 margin-bottom: 12px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 8px;
}

._paymentMethods_yp8nt_161 svg {
 height: 24px;
 width: auto;
}

._retryActions_yp8nt_173 {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 24px;
}

@media screen and (width <= 1199px) {
 ._retryActions_yp8nt_173 {
     gap: 16px;
 }
}

._retryActions_yp8nt_173 ._retryButton_yp8nt_184 {
 width: 100%;
 height: 44px;
 background: rgb(81, 165, 90);
 color: rgb(255, 255, 255);
 font-size: 18px;
 font-weight: 700;
 border-radius: 8px;
}

._retryActions_yp8nt_173 ._useAnotherCardButton_yp8nt_193 {
 text-decoration: underline;
 color: rgb(88, 88, 88);
}

._visuallyHidden_yp8nt_198 {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0px;
 padding: 0px;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0px, 0px, 0px, 0px);
 overflow: hidden;
}

._poweredBy_yp8nt_211 {
 height: 0px;
 position: relative;
 bottom: -24px;
 display: flex;
 justify-content: flex-end;
 gap: 8px;
 align-items: center;
 font-weight: 500;
 font-size: 12px;
 color: var(--gray);
 animation: 0.3s ease 0s 1 normal none running _fade-in_yp8nt_1;
}

._poweredBy_yp8nt_211 svg {
 height: 24px;
}

._footer_yp8nt_228 {
 padding: 8px;
 display: flex;
 align-items: center;
 gap: 4px;
 justify-content: center;
 background: rgb(22, 22, 22);
 color: rgb(182, 182, 182);
 font-size: 12px;
 margin: 16px -12px -12px;
 border-radius: 0px 0px 16px 16px;
}

._checkboxLabel_yp8nt_241 {
 --pink: #222222;
 font-size: 13px;
 color: var(--gray);
 animation: 0.3s ease 0s 1 normal none running _fade-in_yp8nt_1;
}

._checkboxLabel_yp8nt_241 span:last-child {
 opacity: 0.5;
}

@keyframes _fade-in_yp8nt_1 {
 0% {
     opacity: 0;
 }

 100% {
     opacity: 1;
 }
}

.light ._payPalButton_yp8nt_111._payPalButton_yp8nt_111:hover {
 background: var(--black);
}

._loader_15al5_1 {
 width: 100%;
 flex-shrink: 0;
 height: 260px;
}

._loader_15al5_1._withEmail_15al5_6 {
 height: 360px;
}

@media screen and (width <= 1199px) {
 ._loader_15al5_1._withEmail_15al5_6 {
     height: 368px;
 }
}

._loader_15al5_1._withEmail_15al5_6._withoutCardHolder_15al5_14 {
 height: 260px;
}

@media screen and (width <= 1199px) {
 ._loader_15al5_1._withEmail_15al5_6._withoutCardHolder_15al5_14 {
     height: 260px;
 }
}

._loader_15al5_1._withoutCardHolder_15al5_14 {
 height: 200px;
}

._loader_15al5_1._resign_15al5_25 {
 height: 14px;
}

@media screen and (width <= 1199px) {
 ._loader_15al5_1._resign_15al5_25 {
     height: 21px;
 }
}

._container_15al5_34 {
 display: flex;
 flex-direction: column;
 gap: 24px;
 animation: 0.3s ease 0s 1 normal none running _fade-in_15al5_1;
}

@media screen and (width <= 1199px) {
 ._container_15al5_34 {
     gap: 16px;
 }
}

._payButtons_15al5_46 {
 animation: 0.3s ease 0s 1 normal none running _fade-in_15al5_1;
}

._payButtons_15al5_46 ._applePay_15al5_49 > div, ._payButtons_15al5_46 ._googlePay_15al5_50 > div {
 width: 100%;
 height: 44px;
 border-radius: 12px;
 overflow: hidden;
 transition: opacity 0.25s;
}

._payButtons_15al5_46 ._applePay_15al5_49 > div:hover, ._payButtons_15al5_46 ._googlePay_15al5_50 > div:hover {
 opacity: 0.85;
}

._payButtons_15al5_46 ._applePay_15al5_49 > div *, ._payButtons_15al5_46 ._googlePay_15al5_50 > div * {
 outline: none !important;
}

._payButtons_15al5_46 ._googlePay_15al5_50 > div {
 border: 1px solid var(--gray-dark);
 border-radius: 12px;
}

._payButtons_15al5_46 apple-pay-button {
 --apple-pay-button-width: 100%;
 --apple-pay-button-height: 44px;
 --apple-pay-button-border-radius: 12px;
}

._paymentBlockDivider_15al5_75 {
 margin-bottom: 15px;
}

._paymentBlockDivider_15al5_75 span {
 color: rgb(70, 70, 70);
 font-size: 13px;
 font-weight: 600;
}

._paymentBlockDivider_15al5_75::before, ._paymentBlockDivider_15al5_75::after {
 border-top-color: rgba(128, 128, 128, 0.5);
}

._payPalButton_15al5_87._payPalButton_15al5_87 {
 height: 44px;
 min-height: 44px;
 margin-top: 5px;
 background: rgb(255, 196, 58);
 border-radius: 8px;
}

._payPalButton_15al5_87._payPalButton_15al5_87:hover {
 background: var(--white);
}

._payPalButton_15al5_87._payPalButton_15al5_87 svg {
 width: auto;
 height: 24px;
}

._formWrapper_15al5_102 {
 margin-top: -8px;
 flex-grow: 1;
}

._formWrapper_15al5_102 > div:first-child {
 min-height: 380px;
}

._formWrapper_15al5_102._withEmail_15al5_6 > div:first-child {
 min-height: 480px;
}

._formWrapper_15al5_102._withEmail_15al5_6._withoutCardHolder_15al5_14 > div:first-child {
 min-height: 345px;
}

._formWrapper_15al5_102._withoutCardHolder_15al5_14 > div:first-child {
 min-height: 280px;
}

._formWrapper_15al5_102._heightAuto_15al5_118 > div:first-child {
 min-height: auto;
}

._formWrapper_15al5_102._resign_15al5_25 > div:first-child {
 min-height: 142px;
}

._formWrapper_15al5_102 iframe {
 border: none;
}

._paymentTitle_15al5_128 {
 color: var(--white);
 font-size: 24px;
 font-weight: 800;
 margin-bottom: 12px;
}

._paymentTitle_15al5_128._embedded_15al5_134 {
 font-size: 20px;
 font-weight: 700;
}

._retryActions_15al5_139 {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 24px;
}

@media screen and (width <= 1199px) {
 ._retryActions_15al5_139 {
     gap: 16px;
 }
}

._retryActions_15al5_139 ._retryButton_15al5_150 {
 width: 100%;
 height: 44px;
 background: rgb(81, 165, 90);
 color: rgb(255, 255, 255);
 font-size: 18px;
 font-weight: 700;
 border-radius: 8px;
}

._retryActions_15al5_139 ._useAnotherCardButton_15al5_159 {
 text-decoration: underline;
 color: rgb(88, 88, 88);
}

._visuallyHidden_15al5_164 {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0px;
 padding: 0px;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0px, 0px, 0px, 0px);
 overflow: hidden;
}

._poweredBy_15al5_177 {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-weight: 500;
 color: var(--gray);
 animation: 0.3s ease 0s 1 normal none running _fade-in_15al5_1;
}

._checkboxLabel_15al5_186 {
 font-size: 13px;
 color: var(--gray);
 animation: 0.3s ease 0s 1 normal none running _fade-in_15al5_1;
}

._checkboxLabel_15al5_186 span:last-child {
 opacity: 0.5;
}

@keyframes _fade-in_15al5_1 {
 0% {
     opacity: 0;
 }

 100% {
     opacity: 1;
 }
}

.light ._payPalButton_15al5_87._payPalButton_15al5_87:hover {
 background: var(--black);
}

._logoWrapper_ayi1c_1 {
 position: absolute;
 top: 16px;
 left: 50%;
 width: 100%;
 padding-bottom: 12px;
 border-bottom: 2px solid var(--gray-dark);
 transform: translate(-50%);
 display: flex;
 justify-content: center;
 align-items: center;
}

._logoWrapper_ayi1c_1 ._logo_ayi1c_1 {
 height: 20px;
}

._headerWrapper_ayi1c_17 {
 position: absolute;
 top: 11px;
 left: 50%;
 width: 100%;
 transform: translate(-50%);
 display: flex;
 justify-content: center;
}

@media screen and (width <= 767px) {
 ._headerWrapper_ayi1c_17 {
     top: 17px;
 }
}

._headerWrapper_ayi1c_17 ._headerTitle_ayi1c_31 {
 font-family: "Ubuntu Sans", sans-serif;
 font-size: 24px;
 font-weight: 500;
 text-align: center;
 color: rgb(0, 0, 0);
}

@media screen and (width <= 767px) {
 ._headerWrapper_ayi1c_17 ._headerTitle_ayi1c_31 {
     font-size: 14px;
 }
}

._headerWrapper_ayi1c_17 ._headerTitle_ayi1c_31._quiz4901_ayi1c_43 {
 text-align: center;
 font-weight: 700;
 font-size: 20px;
 color: rgb(255, 255, 255);
}

._backButton_ayi1c_50 {
 position: absolute;
 top: 16px;
 left: 12px;
 display: flex;
 align-items: center;
 gap: 10px;
 font-size: 16px;
 color: var(--gray);
 transition: color 0.25s;
 z-index: 2;
}

._backButton_ayi1c_50:hover {
 color: rgb(255, 255, 255);
}

._loader_ayi1c_66 {
 height: 500px;
}

._orderSummary_ayi1c_70 {
 width: 100%;
 padding: 0px;
 border-top: none;
}


._cardSelectContainer_w0u58_1 {
 padding: 24px;
 display: flex;
 flex-direction: column;
 gap: 24px;
 animation: 0.3s ease 0s 1 normal none running _fade-in_w0u58_1;
}

@media screen and (width <= 1199px) {
 ._cardSelectContainer_w0u58_1 {
     padding: 24px 12px;
 }
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 24px;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 24px;
 padding: 32px;
 justify-content: space-between;
 align-items: center;
 align-self: stretch;
 border-radius: 12px;
 font-size: 16px;
 font-weight: 600;
 background: var(--gray-dark);
 color: var(--white);
 transition: background 0.15s;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1:hover, ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1:focus {
 background-color: var(--gray-500);
}

@media screen and (width <= 1199px) {
 ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 {
     padding: 16px;
 }
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardNumberBlock_w0u58_43 {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 12px;
 align-items: center;
 justify-content: space-between;
}

@media screen and (width <= 1199px) {
 ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardNumberBlock_w0u58_43 {
     align-items: flex-start;
 }
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardNumberBlock_w0u58_43 ._cardNumber_w0u58_43 {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 6px;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardNumberBlock_w0u58_43 ._cardNumber_w0u58_43 p {
 color: var(--gray);
 font-size: 14px;
 font-weight: 600;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardNumberBlock_w0u58_43 ._cardNumber_w0u58_43 span {
 font-size: 20px;
 font-weight: 600;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 {
 width: 100%;
 display: flex;
 align-items: flex-end;
 gap: 24px;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._expiry_w0u58_77, ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._cardType_w0u58_78 {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 6px;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._expiry_w0u58_77 p, ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._cardType_w0u58_78 p {
 color: var(--gray);
 font-size: 14px;
 font-weight: 600;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._expiry_w0u58_77 span, ._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._cardType_w0u58_78 span {
 font-size: 16px;
 font-weight: 600;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._deleteButton_w0u58_95 {
 margin-left: auto;
 color: var(--red);
 transition: color 0.25s;
}

._cardSelectContainer_w0u58_1 ._cardList_w0u58_13 ._card_w0u58_1 ._cardInfo_w0u58_71 ._deleteButton_w0u58_95:hover {
 color: var(--red-hover);
}

._cardSelectContainer_w0u58_1 ._noCardsText_w0u58_103 {
 margin-top: 10px;
 color: var(--gray);
}

._cardSelectContainer_w0u58_1 ._addCardButton_w0u58_107 {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 12px;
 color: var(--gray);
 font-size: 16px;
 font-weight: 600;
 transition: color 0.15s;
}

._cardSelectContainer_w0u58_1 ._addCardButton_w0u58_107:hover, ._cardSelectContainer_w0u58_1 ._addCardButton_w0u58_107:focus {
 color: var(--accent);
}

@keyframes _fade-in_w0u58_1 {
 0% {
     opacity: 0;
 }

 100% {
     opacity: 1;
 }
}

._container_18f2m_1 {
 padding: 24px;
 display: flex;
 flex-direction: column;
 gap: 12px;
 border-top: 2px solid var(--gray-dark);
 animation: 0.3s ease 0s 1 normal none running _fade-in_18f2m_1;
}

@media screen and (width <= 1199px) {
 ._container_18f2m_1 {
     padding: 24px 12px;
 }
}

._container_18f2m_1 ._title_18f2m_14 {
 font-weight: 600;
 color: var(--white);
}

@keyframes _fade-in_18f2m_1 {
 0% {
     opacity: 0;
 }

 100% {
     opacity: 1;
 }
}

._container_1sc2h_1 ._title_1sc2h_1 {
 font-weight: 700 !important;
}

._container_1sc2h_1 p {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 8px;
 color: var(--gray);
 font-size: 16px;
 font-weight: 600;
}

._container_1sc2h_1 ._divider_1sc2h_13 {
 width: 100%;
 height: 1px;
 background: rgba(128, 128, 128, 0.5);
}

._container_1sc2h_1 ._total_1sc2h_18 {
 width: 100%;
 color: var(--white);
}

._bonus_7nxtt_1 span, ._bonus_1x8qa_1 span {
 color: var(--green);
}

p span {
 color: var(--white);
 white-space: nowrap;
}

p span._extraBonus_1x8qa_9 {
 font-weight: 800;
}

p span._lineThrough_1x8qa_12 {
 margin: 0px 6px;
 text-decoration: line-through;
 color: var(--gray);
 font-weight: 500;
}

p._summary_1x8qa_18, ._discount_xkrbg_1 {
 font-weight: 800;
}

._savings_xkrbg_5 {
 color: var(--gray);
}

._summaryItems_xkrbg_9 {
 gap: 12px;
}

._lineThrough_xkrbg_13 {
 text-decoration: line-through;
 color: var(--red);
 margin: 0px 8px;
}

._container_xkrbg_19 {
 padding: 24px;
 border-top: 2px solid var(--gray-dark);
 animation: 0.3s ease 0s 1 normal none running _fade-in_xkrbg_1;
}

@media screen and (width <= 1199px) {
 ._container_xkrbg_19 {
     padding: 24px 12px;
 }
}

._container_xkrbg_19 ._title_xkrbg_29._title_xkrbg_29 {
 font-size: 16px;
 font-weight: 600;
 color: var(--white);
}

._collapsibleSection_xkrbg_35 {
 max-height: 400px;
 overflow: hidden;
 margin-bottom: 12px;
 display: flex;
 flex-direction: column;
 gap: 12px;
 transition: max-height 0.3s;
}

._collapsibleSection_xkrbg_35._collapsed_xkrbg_44 {
 max-height: 0px;
 margin-bottom: 0px;
}

._collapsibleSection_xkrbg_35._experimentFontSize_xkrbg_48 p {
 font-size: 14px;
}

@media screen and (width <= 1199px) {
 ._collapsibleSection_xkrbg_35._experimentFontSize_xkrbg_48 p {
     font-size: 13px;
 }
}

._experimentTotalContainer_xkrbg_57 {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

._experimentTotalContainer_xkrbg_57 ._experimentTotal_xkrbg_57 {
 width: 100%;
 justify-content: flex-start;
 color: var(--gray);
 font-size: 14px;
}

@media screen and (width <= 1199px) {
 ._experimentTotalContainer_xkrbg_57 ._experimentTotal_xkrbg_57 {
     font-size: 13px;
 }
}

._experimentTotalContainer_xkrbg_57 ._experimentTotal_xkrbg_57 span {
 color: rgb(184, 184, 184);
}

._experimentTotalContainer_xkrbg_57 ._experimentTotal_xkrbg_57 span:first-of-type {
 margin-left: auto;
}

._titleWrapper_xkrbg_81 {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

._expandButton_xkrbg_87 {
 margin-left: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--white);
}

._expandButton_xkrbg_87._expanded_xkrbg_94 {
 transform: rotate(180deg);
}

@keyframes _fade-in_xkrbg_1 {
 0% {
     opacity: 0;
 }

 100% {
     opacity: 1;
 }
}

._formContainer_7jff0_1 {
 flex-grow: 1;
 display: flex;
 overflow: hidden;
}

._formContainer_7jff0_1._hidden_7jff0_6 {
 position: absolute;
 width: 0px;
 height: 0px;
 visibility: hidden;
 pointer-events: none;
 opacity: 0;
}

._formContainer_7jff0_1 ._image_7jff0_14 {
 max-width: 450px;
 height: calc(-56px + 93dvh);
 max-height: 100%;
 object-fit: cover;
}

@media screen and (width <= 1199px) {
 ._formContainer_7jff0_1 ._image_7jff0_14 {
     display: none;
 }
}

._formContainer_7jff0_1 ._image_7jff0_14._hidden_7jff0_6 {
 display: none;
}

._formContainer_7jff0_1 iframe {
 width: 100%;
 overflow: hidden;
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 {
 position: relative;
 width: 100%;
 padding: 24px;
 display: flex;
 flex-direction: column;
 gap: 24px;
 overflow-y: auto;
}

@media screen and (width <= 1199px) {
 ._formContainer_7jff0_1 ._paymentContent_7jff0_32 {
     padding: 16px;
     gap: 16px;
 }
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._title_7jff0_47 {
 font-size: 24px;
 font-weight: 800;
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 {
 display: flex;
 align-items: center;
 gap: 10px;
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 ._toggle_7jff0_56 {
 display: flex;
 width: 50%;
 height: 70px;
 padding: 10px 15px;
 justify-content: center;
 align-items: center;
 gap: 16px;
 cursor: pointer;
 border-radius: 12px;
 border: 1px solid var(--gray-dark);
 background: var(--main);
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 ._toggle_7jff0_56 svg {
 height: 26px;
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 ._toggle_7jff0_56._selected_7jff0_72 {
 border-color: rgb(98, 98, 98);
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 ._toggle_7jff0_56:hover {
 border-color: var(--accent);
}

._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._secureBlock_7jff0_78 {
 display: flex;
 align-items: center;
 gap: 8px;
 font-size: 16px;
 font-weight: 500;
}

._formContainer_7jff0_1 ._secureBlock_7jff0_78 {
 display: grid;
 grid-template-columns: repeat(3, 134px);
 justify-content: center;
 gap: 12px;
 text-align: center;
}

@media screen and (width <= 767px) {
 ._formContainer_7jff0_1 ._secureBlock_7jff0_78 {
     grid-template-columns: repeat(3, 80px);
 }
}

._formContainer_7jff0_1 ._secureBlock_7jff0_78 ._secureFeature_7jff0_97 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px;
 font-weight: 600;
 background: linear-gradient(gray, rgb(84, 84, 84)) text;
 -webkit-text-fill-color: transparent;
}

._formContainer_7jff0_1 ._checkout_7jff0_109 {
 margin-top: 24px;
 font-size: 24px;
 font-weight: 800;
}

@media screen and (width <= 1199px) {
 ._formContainer_7jff0_1 ._checkout_7jff0_109 {
     margin-top: 16px;
 }
}

._formContainer_7jff0_1 ._summaryBlock_7jff0_119 {
 display: flex;
 padding: 24px;
 flex-direction: column;
 align-items: center;
 gap: 12px;
 border-radius: 12px;
 background: linear-gradient(144deg, rgb(24, 24, 24) 1.24%, rgb(16, 16, 16));
}

@media screen and (width <= 1199px) {
 ._formContainer_7jff0_1 ._summaryBlock_7jff0_119 {
     padding: 16px;
 }
}

._formContainer_7jff0_1 ._summaryBlock_7jff0_119._experimentPaddings_7jff0_133 {
 padding: 15px;
}

._formContainer_7jff0_1 ._faq_7jff0_136 {
 font-size: 24px;
 font-weight: 800;
}

._formContainer_7jff0_1 ._faqList_7jff0_140 {
 display: flex;
 flex-direction: column;
 gap: 24px;
}

@media screen and (width <= 1199px) {
 ._formContainer_7jff0_1 ._faqList_7jff0_140 {
     gap: 16px;
 }
}

._formContainer_7jff0_1 ._faqList_7jff0_140 ._accordion_7jff0_150 {
 border-radius: 12px;
 background-color: var(--gray-dark);
 margin: 0px !important;
}

._formContainer_7jff0_1 ._faqList_7jff0_140 ._accordion_7jff0_150 ._accordionSummary_7jff0_155 {
 min-height: 46px;
 padding: 12px;
 gap: 16px;
 font-size: 16px;
 font-weight: 600;
 color: rgb(184, 184, 184);
}

._formContainer_7jff0_1 ._faqList_7jff0_140 ._accordion_7jff0_150 ._accordionSummary_7jff0_155 .MuiAccordionSummary-content {
 margin: 0px !important;
}

._formContainer_7jff0_1 ._faqList_7jff0_140 ._accordion_7jff0_150 ._accordionDetails_7jff0_166 {
 padding: 0px 12px 12px;
 font-size: 16px;
 font-weight: 500;
 color: gray;
}

._formContainer_7jff0_1 ._contactUsBlock_7jff0_172 {
 text-align: center;
 color: var(--gray);
 font-weight: 500;
}

._formContainer_7jff0_1 ._contactUsBlock_7jff0_172 a {
 color: var(--accent);
}

._formContainer_7jff0_1 ._contactUsBlock_7jff0_172 a:hover {
 color: var(--accent-hover);
}

._paySafeAndSecureWrapper_7jff0_184 {
 display: flex;
 justify-content: center;
}

._paySafeAndSecureWrapper_7jff0_184 ._paySafeAndSecure_7jff0_184 {
 display: inline-flex;
 padding: 5px 8px 5px 5px;
 align-items: center;
 gap: 8px;
 border-radius: 12px;
 background: rgba(116, 255, 130, 0.1);
 color: var(--green);
 text-align: center;
 font-size: 12px;
 font-weight: 600;
}

.light ._formContainer_7jff0_1 ._summaryBlock_7jff0_119 {
 background: rgb(248, 248, 248);
}

.light ._formContainer_7jff0_1 ._accordion_7jff0_150 ._accordionSummary_7jff0_155 {
 color: rgb(0, 0, 0);
}

.light ._formContainer_7jff0_1 ._paymentContent_7jff0_32 ._paymentsToggle_7jff0_51 ._toggle_7jff0_56 {
 background: rgb(255, 255, 255);
}


._root_1j22k_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1.5rem;
    border: 1px solid #e4e6ec;
    border-radius: .5rem;
    background-color: #fafafa
}

._price_1j22k_12 {
    margin-right: .5rem;
    color: #363a43;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

._bagge_1j22k_20 {
    margin-top: auto;
    color: #666c7b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem
}

._success_1j22k_28 {
    color: #088245
}

._root_13qa4_1 {
    display: flex;
    width: 100%;
    max-width: 26.25rem;
    flex-direction: column;
    padding: 1rem 0;
    margin: auto
}

._footer_13qa4_10 {
    padding-top: 2rem;
    margin: auto auto 1.5rem;
    text-align: center
}

._image_13qa4_16 {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem
}

._imageInner_13qa4_22 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}

._title_13qa4_30 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #363a43;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

._text_13qa4_39 {
    padding: 1.5rem;
    border: 1px solid rgba(255,153,0,.24);
    border-radius: .5rem;
    margin-bottom: 2rem;
    background: rgba(255,153,0,.08);
    color: #000
}

._text_13qa4_39 h2 {
    margin: 0 0 .5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem
}

._text_13qa4_39 p {
    margin: 0;
    font-size: .875rem;
    line-height: 1.25rem
}

._container_ay48e_1 {
    display: flex;
    min-height: 17.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.375rem;
    padding-bottom: 1rem
}

._container_ay48e_1 svg {
    animation: _rotate_ay48e_1 2s linear infinite
}

._title_ay48e_14 {
    margin-top: 1.375rem;
    margin-bottom: 2rem;
    color: #363a43;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

._statusTitle_ay48e_23 {
    margin-bottom: .25rem;
    color: #666c7b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem
}

._status_ay48e_23 {
    color: #363a43;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem
}

@keyframes _rotate_ay48e_1 {
    to {
        transform: rotate(360deg)
    }
}

._root_1ypcr_1 {
    display: flex;
    width: 100%;
    max-width: 26.25rem;
    flex-direction: column;
    padding: 1rem 0;
    margin: auto
}

._footer_1ypcr_10 {
    padding-top: 2rem;
    margin: auto auto 1.5rem;
    text-align: center
}

._image_1ypcr_16 {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem
}

._imageInner_1ypcr_22 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}

._title_1ypcr_30 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #363a43;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

._description_1ypcr_39 {
    margin-bottom: 1.5rem;
    color: #363a43;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

._text_1ypcr_47 {
    margin-top: 2rem;
    margin-bottom: .5rem
}

._text_1ypcr_47 span {
    display: block;
    margin-bottom: .25rem;
    color: #666c7b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem
}

._text_1ypcr_47 strong {
    display: block;
    color: #363a43;
    font-weight: 600;
    line-height: 1.5rem
}

._container_1g41p_1 {
    display: flex;
    overflow: hidden;
    min-height: 280px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: Inter,sans-serif;
    font-weight: 400
}

._container_ibh3w_1 {
    display: flex;
    overflow: hidden;
    height: 100%;
    min-height: 600px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 400
}

._container_ibh3w_1 svg {
    animation: _rotate_ibh3w_1 2s linear infinite
}

@media screen and (max-width: 500px) {
    ._container_ibh3w_1 {
        height:100vh
    }
}

@keyframes _rotate_ibh3w_1 {
    to {
        transform: rotate(360deg)
    }
}

input {
    transition: filter 1ms
}

input:-webkit-autofill {
    animation-name: autofill-start
}

input:not(:-webkit-autofill) {
    animation-name: autofill-cancel
}

@keyframes autofill-start {
}

@keyframes autofill-cancel {
}

@keyframes _rotate_1rml3_1 {
    to {
        transform: rotate(360deg)
    }
}

@keyframes _dash_1rml3_1 {
    0% {
        stroke-dasharray: 1,150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -35
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -124
    }
}

._spinner_1rml3_20 {
    width: 40px;
    height: 40px;
    animation: _rotate_1rml3_1 2s linear infinite
}

._path_1rml3_26 {
    animation: _dash_1rml3_1 1.5s ease-in-out infinite;
    stroke-linecap: round
}

._spinnerContainer_1bvy4_1 {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.4)
}

._root_18w44_1 {
    position: absolute;
    z-index: 9;
    top: 1rem;
    left: 1rem;
    display: flex;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border: .125rem solid rgba(0,0,0,.12);
    border-radius: .5rem;
    background-color: #fff
}

._root_18w44_1 ._threeDSIcon_18w44_18 {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem
}

._root_18w44_1 ._description_18w44_23 {
    max-width: 18.375rem;
    color: #000;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center
}

._root_18w44_1 ._spinner_18w44_32 {
    margin-top: 2rem
}

@media screen and (max-height: 280px) {
    ._root_18w44_1 ._threeDSIcon_18w44_18 {
        margin-bottom:.5rem
    }

    ._root_18w44_1 ._description_18w44_23 {
        max-width: 36rem
    }

    ._root_18w44_1 ._spinner_18w44_32 {
        display: none
    }
}

._root_580ti_1 {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center
}

.card {
    min-width: 22em;
    font-size: 16px
}

.card .card_view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5em 1.25em 1.25em;
    border-radius: 10px;
    margin-bottom: 1.3em;
    background-color: #333a49;
    background-image: linear-gradient(136deg,#3d4554 13%,#333a49 88%);
    box-shadow: 0 15px 15px -10px rgba(0,0,0,.5)
}

.card .card_view .input_group {
    width: 100%;
    margin: 0
}

.card .card_view .input_group.card_number {
    margin-bottom: .625em
}

.card .card_view .input_group.expiry_date {
    width: calc(50% - .3125em);
    margin-right: .3125em
}

.card .card_view .input_group.card_cvv {
    width: calc(50% - .3125em);
    margin-left: .3125em
}

.card .card_view .input-block input {
    padding-top: 1.65em;
    background-color: rgba(0,0,0,.1);
    color: #fff;
    outline: none
}

.card .card_view .input-block input::placeholder {
    color: #fff;
    letter-spacing: 2px;
    opacity: 1
}

.card .card_view .input-block input::-webkit-input-placeholder {
    color: #fff;
    letter-spacing: 2px;
    opacity: 1
}

.card .card_view .input-block input::-moz-placeholder {
    color: #fff;
    letter-spacing: 2px;
    opacity: 1
}

.card .card_view .input-block input:focus {
    border-color: transparent;
    background-color: rgba(0,0,0,.2)
}

.card .card_view .input-block input:focus::placeholder {
    color: #fff;
    opacity: 1
}

.card .card_view .input-block input:focus::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.card .card_view .input-block input:focus::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.card .card_view .input-block input:focus~.label {
    color: #18c95f;
    opacity: 1
}

.card .card_view .input-block.not-empty .label {
    color: #fff;
    opacity: .6
}

.card .card_view .input-block.error .label {
    color: #e46161;
    opacity: 1
}

.card .card_view .input-block.error input:focus {
    border-color: #e46161
}

.card .card_view .input-block.error input:focus~.label {
    color: #fff;
    opacity: .6
}

.card .card_view .input-block .label {
    color: #fff;
    font-size: .78em;
    opacity: .6;
    transform: translateY(.33em)
}

.card .card_view .input-block .error-text {
    display: none
}

.card .card_view .brand-icon {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    display: inline-block;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2.5px;
    line-height: 1.4em
}

.card .card_view .brand-icon i {
    display: block;
    width: 2.85em;
    height: 2.85em;
    opacity: .9
}

.card .card_view .brand-icon span {
    opacity: .6
}

.card .input-block input {
    height: 3.2em;
    border: 1px solid transparent;
    border-radius: 10px
}

.card .input-block input:focus {
    border-bottom-color: #18c95f;
    transition: .3s ease border-color
}

.card .input-block.error input:focus {
    border-bottom-color: #e46161
}

.card .input-block.error input:focus~.label {
    color: #333a49;
    opacity: .6
}

.card .input-block.error .label {
    color: #e46161
}

.card .error-text {
    padding: 0 1.1em;
    margin: 0;
    color: #e46161;
    font-size: .77em;
    line-height: 1.8em
}

.card .error-text .triangle {
    position: relative;
    top: 5px;
    width: 0;
    height: 0;
    border-width: 0 .5em .9em;
    border-style: inset;
    border-color: transparent transparent #e46161 transparent;
    margin-right: .5em;
    float: left;
    transform: rotate(360deg)
}

.card .error-text .triangle .text {
    position: relative;
    top: -3px;
    left: -1px;
    color: #fff;
    font-size: .6em;
    text-align: center
}

.card .tooltip-icon:hover:before {
    color: #fff;
    transition: .3s ease all
}

.card .tooltip-icon:before {
    background-color: #18c95f;
    color: #000;
    opacity: 1
}

.card .submit_button {
    width: 100%;
    box-shadow: 0 10px 20px -4px rgba(21,140,81,.5)
}

.card .submit_button:disabled {
    box-shadow: none
}

.card .spinner-container {
    background-color: rgba(255,255,255,.2)
}

.flat {
    min-width: 20em;
    font-size: 16px
}

.flat .card_view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em
}

.flat .card_view .input_group {
    width: 100%;
    margin: 0
}

.flat .card_view .input_group.card_number {
    margin-bottom: 0
}

.flat .card_view .input_group.card_number .input-block input {
    padding-left: 3em;
    border-radius: 10px 10px 0 0
}

.flat .card_view .input_group.expiry_date {
    width: calc(50% + 1px);
    margin-top: -1px;
    margin-right: -1px
}

.flat .card_view .input_group.expiry_date .input-block input {
    border-radius: 0 0 0 10px
}

.flat .card_view .input_group.card_cvv {
    width: 50%;
    margin-top: -1px
}

.flat .card_view .input_group.card_cvv .input-block input {
    border-radius: 0 0 10px
}

.flat .card_view .input-block .error-text {
    display: none
}

.flat .input-block input {
    position: relative;
    border: 1px solid rgba(51,58,73,.6);
    border-radius: 10px
}

.flat .input-block input:focus {
    z-index: 2;
    border-color: #18c95f
}

.flat .input-block.error input {
    z-index: 2;
    border-color: #e46161
}

.flat .submit_button {
    width: 100%;
    box-shadow: 0 10px 20px -4px rgba(24,201,95,.5)
}

.flat .submit_button:disabled {
    box-shadow: none
}

.inline {
    font-size: 18px
}

.inline .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.inline .form-container .input_group {
    margin: 1em .2em
}

.inline .form-container .card_number,.inline .form-container .card_holder {
    width: 16.5em
}

.inline .form-container .card_cvv,.inline .form-container .expiry_date,.inline .form-container .zip_code {
    width: 10em
}

.inline .form-container .card_number .input-block input {
    padding-left: 3em
}

.inline .card_brands {
    justify-content: center
}

.inline .card_brands i {
    margin: 0 1em
}

.inline .input-block .brand-icon {
    top: 1.4em;
    bottom: auto
}

@media only screen and (max-width: 600px) {
    .inline .form-container {
        display:block
    }

    .inline .form-container .input_group {
        width: 100%;
        box-sizing: border-box;
        margin: 1em 0
    }
}

.default .two-columns {
    display: grid;
    margin: 1em 0;
    column-gap: 1.42em;
    grid-column-gap: 1.42em;
    grid-template-columns: repeat(2,calc(50% - .71em))
}

.default .two-columns .input_group {
    margin: 0
}

.default .card_number .input-block input {
    padding-left: 3.3em!important
}

.default .input-block .label {
    position: static;
    padding: 0;
    color: #01132c;
    font-weight: 500;
    opacity: 1
}

.default .input-block input {
    padding: .1em 1em 0;
    border: 1px solid rgba(51,58,73,.2);
    border-radius: 10px;
    background-color: transparent;
    color: #01132c
}

.default .input-block input::placeholder {
    position: relative;
    top: 1px;
    color: rgba(51,58,73,.2)
}

.default .input-block input::-webkit-input-placeholder {
    position: relative;
    top: 1px;
    color: rgba(51,58,73,.2)
}

.default .input-block input::-moz-placeholder {
    position: relative;
    top: 1px;
    color: rgba(51,58,73,.2)
}

.default .input-block input:focus {
    padding: .1em 1em 0
}

.default .input-block input:focus::placeholder {
    color: rgba(51,58,73,.2);
    opacity: 1
}

.default .input-block input:focus::-webkit-input-placeholder {
    color: rgba(51,58,73,.2);
    opacity: 1
}

.default .input-block input:focus::-moz-placeholder {
    color: rgba(51,58,73,.2);
    opacity: 1
}

.default .input-block.not-empty input {
    padding: .1em 1em 0
}

.default .input-block.not-empty .label {
    color: #01132c;
    font-size: 1em;
    opacity: 1
}

.default .input-block.error .label {
    color: #e46161
}

.default .input-block .brand-icon {
    top: 2.7em;
    display: block
}

.default .error-text {
    padding-left: 0
}

.default .form-container {
    padding-top: .5em
}

.default .tooltip-icon {
    top: 2.8em
}

.default .tooltip-icon:before {
    background: rgba(1,19,44,.85);
    opacity: 1
}

.default .tooltip-icon:hover:before {
    background: #01132c
}

.default .tooltip {
    top: 4.8em
}

.submit_button {
    width: 100%;
    margin-top: 2em;
    background-color: #01132c;
    font-weight: 400;
    text-transform: capitalize
}

.submit_button .title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px
}

.submit_button .title-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: .5em;
    content: ""
}

.submit_button:disabled {
    background-color: rgba(1,19,44,.85)
}

.submit_button .amount,.submit_button .currency-icon {
    display: none
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -35
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -124
    }
}

.no-transition * {
    transition: none!important
}

.no-transition *:before,.no-transition *:after {
    transition: none!important
}

body {
    position: relative;
    margin: 0 auto;
    line-height: 1.9
}

form {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Inter,sans-serif;
    font-weight: 400
}

.header,.form_title {
    display: none;
    word-break: break-word
}

.footer {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 46px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: .55em 1em;
    margin-top: 1.1em
}

.footer:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333a49;
    content: "";
    opacity: .1
}

.footer .text {
    display: block;
    color: #333a49;
    font-size: .65em;
    letter-spacing: 1px;
    opacity: .6;
    text-transform: uppercase
}

.footer .img {
    display: block;
    margin-left: .375rem
}

.input_group {
    display: flex;
    flex-direction: column
}

.input-block {
    position: relative;
    flex: 1;
    margin-top: auto
}

.input-block .brand-icon {
    position: absolute;
    z-index: 3;
    bottom: .3em;
    left: 1.1em;
    display: none;
    width: 1.66em;
    height: 1.66em
}

.input-block input {
    display: block;
    width: 100%;
    height: 3.3em;
    box-sizing: border-box;
    padding: 0 1.1em .5em;
    border: none;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(51,58,73,.6);
    background-color: #f0f1f7;
    color: #333a49;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.66em;
    transition: .3s ease all
}

.input-block input[type=password] {
    font-family: serif;
    letter-spacing: 3px
}

.input-block input.dotted-placeholder::placeholder {
    font-family: sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px
}

.input-block input.dotted-placeholder::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px
}

.input-block input.dotted-placeholder::-moz-placeholder {
    font-family: sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px
}

.input-block input::placeholder {
    color: transparent;
    letter-spacing: 0
}

.input-block input::-webkit-input-placeholder {
    color: transparent;
    letter-spacing: 0
}

.input-block input::-moz-placeholder {
    color: transparent;
    letter-spacing: 0
}

.input-block input:focus {
    padding-top: 1.65em;
    outline: none;
    transition: none
}

.input-block input:focus~.label {
    color: #18c95f;
    font-size: .78em;
    opacity: 1;
    transform: translateY(.33em)
}

.input-block input:focus~.bar:before {
    width: 100%
}

.input-block input:focus~.brand-icon {
    display: block
}

.input-block input:focus::placeholder {
    color: #333a49;
    opacity: .6;
    transition: .3s ease color opacity
}

.input-block input:focus::-webkit-input-placeholder {
    color: #333a49;
    opacity: .6;
    transition: .3s ease color opacity
}

.input-block input:focus::-moz-placeholder {
    color: #333a49;
    opacity: .6;
    transition: .3s ease color opacity
}

.input-block input:disabled {
    opacity: .4;
    transition: .3s ease all
}

.input-block.not-empty input {
    padding-top: 1.65em
}

.input-block.not-empty .label {
    color: #333a49;
    font-size: .78em;
    opacity: .6;
    transform: translateY(.33em)
}

.input-block.not-empty .brand-icon {
    display: block
}

.input-block .label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: .27em;
    padding-left: 1.1em;
    color: #333a49;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.9em;
    opacity: .6;
    pointer-events: none;
    transform: translateY(.7em);
    transition: .3s ease all
}

.input-block .bar {
    position: relative;
    display: block;
    width: 100%
}

.input-block .bar:before {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0;
    height: 1px;
    background: #18c95f;
    content: "";
    transition: .3s ease all
}

.input-block.error input {
    border-color: #e46161
}

.input-block.error input:focus {
    border-bottom-color: #e46161
}

.input-block.error input:focus~.label {
    color: #333a49;
    opacity: .6
}

.input-block.error input:focus~.bar:before {
    width: 0
}

.input-block.error .label {
    color: #e46161;
    opacity: 1
}

.input-block.error .label:after {
    content: "*"
}

.tooltip {
    position: absolute;
    z-index: 15;
    top: 3em;
    right: .2em;
    display: none;
    width: 13.3em;
    min-height: 5.8em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
    line-height: 1.2em
}

.tooltip:hover {
    display: block
}

.tooltip:after {
    position: absolute;
    top: 4px;
    right: calc(.9em + 3px);
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: .6em solid #fff;
    border-color: #fff #fff transparent transparent;
    box-shadow: 3px -3px 4px -5px rgba(0,0,0,.5);
    content: "";
    transform: rotate(-45deg);
    transform-origin: 0 0
}

.tooltip img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.tooltip-icon {
    position: absolute;
    z-index: 3;
    top: .8em;
    right: .8em;
    display: block;
    width: 16px;
    height: 16px;
    padding: .3em;
    cursor: pointer;
    outline: none
}

.tooltip-icon:hover:before {
    background-color: #18c95f;
    opacity: 1;
    transition: .3s ease all
}

.tooltip-icon:before {
    display: block;
    border-radius: 50%;
    background: #333a49;
    color: #fff;
    content: "i";
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    opacity: .6;
    text-align: center;
    transition: .3s ease all
}

.tooltip-icon:hover~.tooltip {
    display: block
}

.submit_button {
    position: relative;
    display: block;
    height: 3.3em;
    padding: .8em 1.5em;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 0;
    background-color: #18c95f;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5em;
    outline: none;
    text-transform: uppercase;
    transition: .3s ease all;
    word-break: break-word
}

.submit_button:hover {
    opacity: .8;
    transition: .3s ease opacity
}

.submit_button:disabled {
    background-color: #abb2bd;
    pointer-events: none;
    transition: .3s ease background-color
}

.submit_button .currency-icon {
    margin-left: 5px
}

.submit_button .currency {
    display: none
}

.spinner-container {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.4)
}

.spinner-container .spinner {
    width: 40px;
    height: 40px;
    animation: rotate 2s linear infinite
}

.spinner-container .spinner .path {
    animation: dash 1.5s ease-in-out infinite;
    stroke: #18c95f;
    stroke-linecap: round
}

.error-text {
    padding: 0 1.1em;
    margin: 0;
    color: #e46161;
    font-size: .875em;
    line-height: 1.8em
}

.error-text .triangle {
    position: relative;
    top: .4em;
    width: 0;
    height: 0;
    border-width: 0 .5em .9em;
    border-style: inset;
    border-color: transparent transparent #e46161 transparent;
    margin-right: .5em;
    float: left;
    transform: rotate(360deg)
}

.error-text .triangle .text {
    position: relative;
    top: -.4em;
    left: -.1em;
    color: #fff;
    font-size: .6em;
    text-align: center
}

.error-text.submit-validation {
    font-size: 1em
}

.card_brands {
    display: flex;
    justify-content: space-around;
    padding: .5em
}

.card_brands i {
    display: block;
    width: 2.5em;
    height: 2.5em
}

.secure_info {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.secure_info i {
    display: block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 1em
}

.additional_field {
    margin-top: 1em
}

.additional_field .tooltip {
    width: auto;
    max-width: 18em;
    min-height: auto
}

.additional_field .tooltip .tooltip-message {
    max-height: 3.6em;
    overflow-y: auto
}

.resign-form {
    padding: 1.5rem
}

.resign-submit-button {
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 6px;
    margin-top: .75rem;
    margin-bottom: 0;
    background-color: #00816a;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.5em;
    outline: none;
    text-transform: capitalize;
    transition: .3s ease all;
    word-break: break-word
}

.resign-submit-button:hover {
    opacity: .8;
    transition: .3s ease opacity
}

.resign-submit-button .title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px
}

.resign-submit-button .title-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: .5em;
    content: ""
}

.resign-submit-button:disabled {
    background-color: rgba(0,129,106,.85);
    pointer-events: none;
    transition: .3s ease background-color
}

.resign-submit-button .amount,.resign-submit-button .currency-icon,.resign-submit-button .currency {
    display: none
}

.resign-input-group {
    width: 100%;
    margin-top: .75em
}

.resign-input-group .resign-input-block {
    position: relative;
    display: flex;
    flex-direction: column
}

.resign-input-group .resign-input-block input {
    width: 100%;
    height: 2.5em;
    box-sizing: border-box;
    padding: .25em .75em;
    border: 1px solid rgba(0,0,0,.0784313725);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.12);
    color: #8f8f8f;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5em
}

.resign-input-group .resign-input-block .resign-label {
    margin-right: .5em;
    font-size: .875em;
    line-height: 2.25em
}

.resign-input-group .resign-input-block .error-text {
    padding: 0;
    margin-top: .75em;
    margin-left: 1px
}

.resign-tooltip {
    position: absolute;
    z-index: 15;
    top: -4px;
    right: 2.5em;
    display: none;
    width: 13.3em;
    min-height: 5.8em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
    line-height: 1.2em
}

.resign-tooltip:hover {
    display: block
}

.resign-tooltip:after {
    position: absolute;
    top: 6px;
    right: calc(-.9em + 0px);
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: .6em solid #fff;
    border-color: #fff #fff transparent transparent;
    box-shadow: 3px -3px 4px -5px rgba(0,0,0,.5);
    content: "";
    transform: rotate(45deg);
    transform-origin: 0 0
}

.resign-tooltip img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.resign-tooltip-icon {
    position: absolute;
    z-index: 3;
    top: .42em;
    right: .3em;
    display: block;
    width: 16px;
    height: 16px;
    padding: .3em;
    cursor: pointer;
    outline: none
}

.resign-tooltip-icon:hover:before {
    background-color: #18c95f;
    opacity: 1;
    transition: .3s ease all
}

.resign-tooltip-icon:before {
    display: block;
    border-radius: 50%;
    background: #333a49;
    color: #fff;
    content: "i";
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    opacity: .6;
    text-align: center;
    transition: .3s ease all
}

.resign-tooltip-icon:hover~.resign-tooltip {
    display: block
}

.resign-form-content {
    display: flex;
    flex-direction: column
}

.resign-form-content .resign-card-preview {
    display: flex;
    height: 1.5em;
    margin-left: 1px
}

.resign-form-content .resign-card-preview .resign-card-brand-icon {
    display: flex;
    width: 2em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: .5rem;
    background-color: #1d1d1d
}

.resign-form-content .resign-card-preview .resign-card-brand-icon.monochrome-light,.resign-form-content .resign-card-preview .resign-card-brand-icon.colored {
    background-color: #fff
}

.resign-form-content .resign-card-preview .resign-card-brand-icon i {
    display: block;
    width: 1.5em;
    height: 1em
}

.resign-form-content .resign-card-preview .resign-card-brand-icon .resign-unknown-card-icon {
    color: #fff;
    font-size: .6em
}

.resign-form-content .resign-card-preview .resign-card-preview-content {
    color: #666;
    font-size: 1em;
    line-height: 1.5em
}

.resign-form-content .resign-card-preview .resign-card-preview-content .resign-card-last-four {
    color: #0072e0
}

.resign-cvv .resign-label {
    display: none
}
